#site-title {
    font-family:"Lato",sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 3em;
}


body,
h1,
h3 {
  font-family: "Garamond",sans-serif;
  font-weight: 100;
}

h4 {
    font-family: "Lato",sans-serif;
    color: #A41034;
    font-size: 24px;
    font-weight: 200;
    padding: 10px;
}


a {
  font-family: "Lato",sans-serif;
}

.footer {
  font-family: "Lato",sans-serif;
}

.widget-title {
  font-weight: normal;
  font-family: "Lato",sans-serif,color: #4d4d4d;
  font-weight: 200;
  padding: 10px;
  left: 50px;
  background-color: #E8E8E8;
}

.widget-text {
  padding: 10px;
  font-family: "Lato",sans-serif;
  font-weight: 100;
  font-size: 16px;
  background-color: #FFFFFF;
}    

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #E8E8E8;
    font-size: 16px;
}

/* unvisited link */
a:link {
    color: #5bc0de;
}

/* visited link */
a:visited {
    color: #5bc0de;
}

#topWhiteBar {
  border-top: 35px solid white;
}


body {
        padding-top: 0px;
        padding-bottom: 0px;
      }
.in.collapse+a.btn.showdetails:before
{
    content:'Abstract «';
}
.collapse+a.btn.showdetails:before
{
    content:'Abstract »';
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
  color: black;
}


.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.container{
  padding-left: 50px
}

hr{
  border-top: 1px solid #E8E8E8;
}

